/*
 ************************************************************************************
 * Copyright (C) 2014 Openbravo S.L.U.
 * Licensed under the Openbravo Commercial License version 1.0
 * You may obtain a copy of the License at http://www.openbravo.com/legal/obcl.html
 * or in the legal folder of this module distribution.
 ************************************************************************************
 */
 
 .pageSelector {
    margin: 0 !important;
    width: 25% !important;
    line-height: 40px !important;
    height: 40px !important;
    font-size: 25px !important;
    padding: 0 !important;
    position: relative;
 }
 
 .obwh-btn-check {
  width: 34px;
  height: 27px;
  border: none;
  background-repeat: no-repeat;
  background-position: left center;
  background-color: transparent;
  background-image: url('./../../org.openbravo.mobile.core/assets/img/checkbox-off.png');
 }

 .obwh-btn-check.active {
  background-image: url('./../../org.openbravo.mobile.core/assets/img/checkbox-on.png');
 }
 
 @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
    .positionFixIPad{
        left: 2px !important;
    } 
    
    .inventoryViewiPadFix{
        margin: 3px 5px 5px 5px !important;
    }